body
{
   color: #FFFFFF;
   font-family: "Fixedsys Excelsior";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
body:after
{
   background-color: #000000;
   background-image: url('../images/a42g1_back.png');
   background-position: center center;
   background-repeat: repeat;
   background-size: cover;
   content: "";
   height: 100vh;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   z-index: -1;
}
a
{
   color: #87CEEB;
   text-decoration: underline;
}
a:hover
{
   color: #FFFF00;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_navigation
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(0,0,0,0.59);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#navigation
{
   box-sizing: border-box;
   padding: 10px 5px 10px 5px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#navigation > .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#navigation > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#navigation > .row > .col-1
{
   float: left;
}
#navigation > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#navigation:before,
#navigation:after,
#navigation .row:before,
#navigation .row:after
{
   display: table;
   content: " ";
}
#navigation:after,
#navigation .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#navigation > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-image: linear-gradient(to top, rgba(0,0,0,0.67) 0%, rgba(75,75,75,0.63) 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#welcome
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 80px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#welcome > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#welcome > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#welcome > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#welcome > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#upStickyLayer
{
   background-color: rgba(178,34,34,0.72);
   background-image: none;
   border-radius: 50%;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFD700;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#upIcon:hover i
{
   color: #FFD700;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text9
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
.navigationMenu .hide 
{
   display: none!important;
}
.navigationMenu .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.navigationMenu .nav
{
   font-family: "Fixedsys Excelsior";
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   color: #87CEEB;
   text-align: center;
}
#navigationMenu, .navigationMenu .nav, .navigationMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.navigationMenu .nav:before,
.navigationMenu .nav:after 
{
   content: " ";
   display: table;
}
.navigationMenu .nav:after 
{
   clear: both;
}
.navigationMenu .nav a 
{
   text-decoration: none;
}
.navigationMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.navigationMenu .nav ul ul
{
   margin-bottom: 0;
}
.navigationMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.navigationMenu .container:before,
.navigationMenu .container:after 
{
   content: " ";
   display: table;
}
.navigationMenu .container:after 
{
   clear: both;
}
.navigationMenu .collapse 
{
   display: none;
}
.navigationMenu .collapse.show 
{
   display: block;
}
.navigationMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.navigationMenu .caret, .navigationMenu .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.navigationMenu .dropdown 
{
   position: relative;
}
.navigationMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.navigationMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 21px;
   background-color: rgba(0,0,0,0.59);
   background-image: none;
   border: 1px solid rgba(197,197,197,0.20);
   border-radius: 0px;
   background-clip: padding-box;
}
.navigationMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.navigationMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #87CEEB;
   white-space: nowrap;
}
.navigationMenu .dropdown-menu>li>a:hover,
.navigationMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #FFFF00;
   background-color: rgba(52,58,64,0.59);
   background-image: none;
}
.navigationMenu .dropdown-menu>li>a.active,
.navigationMenu .dropdown-menu>li>a.active:hover,
.navigationMenu .dropdown-menu>li>a.active:focus
{
   color: #FFFF00;
   background-color: rgba(52,58,64,0.59);
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.navigationMenu .show>.dropdown-menu 
{
   display: block;
}
.navigationMenu .show>a 
{
   outline: 0;
}
.navigationMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.navigationMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.navigationMenu .nav>li 
{
   position: relative;
   display: block;
}
.navigationMenu .nav .btn
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.navigationMenu .nav .show>.btn-primary.dropdown-toggle,
.navigationMenu .nav .show>.btn-primary.dropdown-toggle:hover,
.navigationMenu .nav .show>.btn-primary.dropdown-toggle:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.navigationMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.navigationMenu .nav .btn>img 
{
   max-width: none;
}
.navigationMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.navigationMenu
{
   position: relative;
}
.navigationMenu:before,
.navigationMenu:after
{
   content: " ";
   display: table;
}
.navigationMenu:after
{
   clear: both;
}
.navigationMenu .navbar-header:before,
.navigationMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.navigationMenu .navbar-header:after
{
   clear: both;
}
.navigationMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.navigationMenu-navbar-collapse:before,
.navigationMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.navigationMenu-navbar-collapse:after
{
   clear: both;
}
.navigationMenu-navbar-collapse.show 
{
   overflow-y: auto;
}
.navigationMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 13px 10px 12px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.navigationMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.navigationMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.navigationMenu .navbar-nav
{
   margin: 6px -15px;
}
.navigationMenu .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.navigationMenu .navbar-nav .btn
{
   color: #87CEEB;
}
.navigationMenu .navbar-nav .btn:hover,
.navigationMenu .navbar-nav .btn:focus
{
   background-color: rgba(52,58,64,0.59);
   background-image: none;
   color: #FFFF00;
   text-decoration: none;
}
.navigationMenu .navbar-nav .btn.active,
.navigationMenu .navbar-nav .btn.active:hover,
.navigationMenu .navbar-nav .btn.active:focus
{
   color: #FFFF00;
   background-color: rgba(52,58,64,0.59);
   background-image: none;
}
.navigationMenu .navbar-toggle
{
   border: 1px solid rgba(43,43,43,0.10);
}
.navigationMenu .navbar-toggle:hover,
.navigationMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.navigationMenu .navbar-toggle .icon-bar
{
   background-color: #87CEEB;
}
.navigationMenu-navbar-collapse
{
   border-color: rgba(197,197,197,0.20);
}
.navigationMenu .navbar-nav .btn:hover .caret,
.navigationMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFF00;
   border-bottom-color: #FFFF00;
}
.navigationMenu .btn-group.show .btn:not(:first-child),
.navigationMenu .btn-group.show .btn:not(:first-child):hover,
.navigationMenu .btn-group.show .btn:not(:first-child):focus
{
   background-color: rgba(52,58,64,0.59);
   background-image: none;
   color: #FFFF00;
}
.navigationMenu .btn-group.show .btn .caret,
.navigationMenu .btn-group.show .btn:hover .caret,
.navigationMenu .btn-group.show .btn:focus .caret
{
   border-top-color: #FFFF00;
   border-bottom-color: #FFFF00;
}
.navigationMenu .navbar-nav .btn .caret
{
   border-top-color: #87CEEB;
   border-bottom-color: #87CEEB;
}
.navigationMenu .navbar-link
{
   color: #87CEEB;
}
.navigationMenu .navbar-link:hover
{
   color: #FFFF00;
}
.navigationMenu .navbar-header
{
   color: #87CEEB;
}
@media (min-width: 640px) 
{
.navigationMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.navigationMenu .navbar-header
{
   float: left;
}
.navigationMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.navigationMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.navigationMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.navigationMenu .navbar-toggle
{
   display: none;
}
.navigationMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.navigationMenu .navbar-nav>li 
{
   float: left;
}
.navigationMenu .container>.navbar-header,
.navigationMenu .container>.navigationMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.navigationMenu .navbar-nav .btn:hover .caret,
.navigationMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFF00;
   border-bottom-color: #FFFF00;
}
}
@media (max-width: 640px) 
{
.navigationMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.navigationMenu .navbar-nav
{
   margin: 0;
   background-color: rgba(0,0,0,0.59);
   background-image: none;
}
.navigationMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.navigationMenu .navbar-nav .show .dropdown-menu>li>a,
.navigationMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.navigationMenu .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 640px) 
{
.navigationMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
}
.navigationMenu .navbar-nav .btn
{
   color: #87CEEB;
}
.navigationMenu .navbar-nav .btn:hover,
.navigationMenu .navbar-nav .btn:focus
{
   color: #FFFF00;
   background-color: rgba(52,58,64,0.59);
   background-image: none;
}
.navigationMenu .navbar-nav .btn.active,
.navigationMenu .navbar-nav .btn.active:hover,
.navigationMenu .navbar-nav .btn.active:focus
{
   color: #FFFF00;
   background-color: rgba(52,58,64,0.59);
   background-image: none;
}
.navigationMenu .btn-group.show .btn:not(:first-child),
.navigationMenu .btn-group.show .btn:not(:first-child):hover,
.navigationMenu .btn-group.show .btn:not(:first-child):focus
{
   background-color: rgba(52,58,64,0.59);
   background-image: none;
   color: #FFFF00;
}
.navigationMenu .navbar-nav .btn:hover .caret
{
   border-top-color: #FFFF00;
   border-bottom-color: #FFFF00;
}
.navigationMenu .navbar-nav .btn .caret
{
   border-top-color: #87CEEB;
   border-bottom-color: #87CEEB;
}
.navigationMenu .navbar-nav > li > a.active > .caret,
.navigationMenu .navbar-nav > li > a.active:hover > .caret,
.navigationMenu .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFF00;
   border-bottom-color: #FFFF00;
}
.navigationMenu .btn-group.show .btn .caret,
.navigationMenu .btn-group.show .btn:hover .caret,
.navigationMenu .btn-group.show .btn:focus .caret
{
   border-top-color: #FFFF00;
   border-bottom-color: #FFFF00;
}
.navigationMenu .navbar-link
{
   color: #87CEEB;
}
.navigationMenu .navbar-link:hover 
{
   color: #fff;
}
}
.navigationMenu .btn-group
{
   position: relative;
   display: inline-flex;
   vertical-align: middle;
}
.navigationMenu .btn-group > .btn
{
   display: inline-block;
   position: relative;
   flex: 1 1 auto;
}
.navigationMenu .dropdown-toggle-split
{
   padding-right: 4px !important;
   padding-left: 4px !important;
}
.navigationMenu .btn-group>.btn-group:not(:first-child)>.btn, .navigationMenu .btn-group>.btn:not(:first-child)
{
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}
.navigationMenu .btn-group>.btn-group:not(:last-child)>.btn, .navigationMenu .btn-group>.btn:not(:last-child):not(.dropdown-toggle)
{
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.navigationMenu .btn-group>.btn-group:not(:first-child), .navigationMenu .btn-group>.btn:not(:first-child)
{
   margin-left: -1px;
}
.navigationMenu .caret
{
   margin-left: 0;
}
@media (max-width: 640px)
{
.navigationMenu .btn-group
{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}
.navigationMenu .btn-group>.btn:not(:first-child)
{
   flex-grow: 0;
}
.navigationMenu .dropdown-menu.show
{
   width: 100% !important;
}
}
#navigationMenu-logo
{
   float: left;
}
#navigationMenu-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#navigationMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_navigationMenu
{
   z-index: 1111 !important;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 10px 0 0 0 ;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 10px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 10px 0 0 0 ;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 10px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#ThemeableButton1
{
   font-family: "Fixedsys Excelsior";
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton1
{
   border-radius: 4px;
   margin: 20px 0 0 0 ;
   vertical-align: top;
}
#ThemeableButton1
{
   box-sizing: border-box;
   padding: 0 0 0 35px;
   text-align: center;
}
#wb_ThemeableButton1 .ui-button
{
   margin: 0;
   line-height: 41px;
   box-sizing: border-box;
}
#ThemeableButton1
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton1 :hover
{
   color: #2B2B2B;
}
#ThemeableButton1 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: "Font Awesome 5 Brands";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   left: 10px;
   top: 50%;
   margin-top: -10.5px;
   width: 21px;
   height: 21px;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-primary:before
{
   content: "\f189";
}
#wb_ThemeableButton1:hover .ui-primary
{
   color: #FFFF00;
}
#wb_ThemeableButton1:active .ui-primary
{
   color: #000000;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #FFFF00;
   background-color: #000000;
   background-image: none;
   color: #FFFF00;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #DCDCDC;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
}
#ThemeableButton2
{
   font-family: "Fixedsys Excelsior";
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton2
{
   border-radius: 4px;
   margin: 20px 0 0 0 ;
   vertical-align: top;
}
#ThemeableButton2
{
   box-sizing: border-box;
   padding: 0 0 0 35px;
   text-align: center;
}
#wb_ThemeableButton2 .ui-button
{
   margin: 0;
   line-height: 41px;
   box-sizing: border-box;
}
#ThemeableButton2
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton2 :hover
{
   color: #2B2B2B;
}
#ThemeableButton2 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: "Material Icons Sharp";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   left: 10px;
   top: 50%;
   margin-top: -10.5px;
   width: 21px;
   height: 21px;
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-primary:before
{
   content: "\e0be";
}
#wb_ThemeableButton2:hover .ui-primary
{
   color: #FFFF00;
}
#wb_ThemeableButton2:active .ui-primary
{
   color: #000000;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton2 .ui-button
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-state-hover, #wb_ThemeableButton2 .ui-button:hover
{
   border-color: #FFFF00;
   background-color: #000000;
   background-image: none;
   color: #FFFF00;
}
#wb_ThemeableButton2 .ui-state-active, #wb_ThemeableButton2 .ui-button:active
{
   border-color: #DCDCDC;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
}
#ThemeableButton3
{
   font-family: "Fixedsys Excelsior";
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton3
{
   border-radius: 4px;
   margin: 20px 0 0 0 ;
   vertical-align: top;
}
#ThemeableButton3
{
   box-sizing: border-box;
   padding: 0 0 0 35px;
   text-align: center;
}
#wb_ThemeableButton3 .ui-button
{
   margin: 0;
   line-height: 41px;
   box-sizing: border-box;
}
#ThemeableButton3
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton3 :hover
{
   color: #2B2B2B;
}
#ThemeableButton3 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: "Font Awesome 5 Brands";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   left: 10px;
   top: 50%;
   margin-top: -10.5px;
   width: 21px;
   height: 21px;
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-primary:before
{
   content: "\f392";
}
#wb_ThemeableButton3:hover .ui-primary
{
   color: #FFFF00;
}
#wb_ThemeableButton3:active .ui-primary
{
   color: #000000;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton3 .ui-button
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-state-hover, #wb_ThemeableButton3 .ui-button:hover
{
   border-color: #FFFF00;
   background-color: #000000;
   background-image: none;
   color: #FFFF00;
}
#wb_ThemeableButton3 .ui-state-active, #wb_ThemeableButton3 .ui-button:active
{
   border-color: #DCDCDC;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
}
